
#navLink:hover{
    font-weight: 600;
    color: #067A46;
    background: #E4FABF;
}
#logoutLink:hover{
    font-weight: 600;
    color: black;
    background: #e20e0e;
}
#logoutLink{
    color: black;
}